.cardContainer {
    text-align: center;
}

.card {
    align-self: center;
    background: blue;
    margin: 15px auto;
    width: 36%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
}

.card:hover{
    background: rgb(48, 48, 235);
}

.card2{
    align-self: center;
    background: yellow;
    margin: 15px auto;
    width: 36%;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 4px;
    border-radius: 4px;
}