@{
    ViewData["Title"] = "Escuela";
    Layout = "_Layout";  // Si no lo pones por defecto se agrega.
}

<h1>Escuela </h1>
<h2>Nombre: @Model.Nombre</h2>


<p><strong>Anio de fundacion: @Model.Anio </strong></p>