<h2>Formulario</h2>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="registerForm.name">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email">Nombre</label>
    <input type="text" name="email" required id="email" [(ngModel)]="registerForm.email">
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="password">Nombre</label>
    <input type="password" name="password" required id="password" [(ngModel)]="registerForm.password">
    <p>Mensaje de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
  <button type="button">Accion</button>
</form>

<hr />
<h2>NgClass & NgStyle</h2>

<!-- Ngclass -->
<input type="text" required #nameInput4="ngModel" [(ngModel)]="ngStyleName">
<hr class="line-error" [ngClass]="{
  'valid': nameInput4.valid,
  'invalid': nameInput4.invalid,
}" />
<p class="message-error" [class.invalid]="nameInput4.invalid">El campo es requerido</p>

<!-- NgStyle -->
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px':box.width,
      'height.px':box.height,
      'background-color':box.background,
      'display': 'block',
    }">

    </div>
  </div>
</div>


<hr />
<h2>Clases y estilos</h2>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="varNombre">
<!-- <p>{{varNombre}}</p> -->
<p class="message-error" [class.active]="nameInput2.invalid">El campo es requerido</p>

<!-- Estilos en linea -->

<!-- no puedo usar variables manipuladas con ngModel antes de declararlo, es igual que con las variables de js -->
<!-- <label [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Nombre</label> -->
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="varNombre2">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>

<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" src={{img}} alt="imagen">
  </div>
</div>

<hr />
<!-- <h2>ngSwitch</h2>
<input type="text" required [(ngModel)]="newName2">
<div [ngSwitch]="newName2">
  <p *ngSwitchCase="'David'">La persona es {{newName}}</p>
  <p *ngSwitchCase="'Juan'">La persona es {{newName}}</p>
  <p *ngSwitchCase="'Daniel'">La persona es {{newName}}</p>
  <p ngSwitchDefault>No hace Mathc</p>
</div>

<hr /> -->
<!-- <p *ngIf="persona.name === David"></p>
<p *ngIf="persona.name === Juan"></p>
<p *ngIf="persona.name === Daniel"></p> -->

<h2>*ngFor Objetos</h2>
<div class="products--grid">
  <div *ngFor="let prod of products">
    <img [src]="prod.image" alt="imagen">
    <h3>{{prod.price}}</h3>
    <p>{{prod.name}}</p>
  </div>
</div>

<h2>*ngFor</h2>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">The list is empty</li>
  <li *ngFor="let name of names; index as i">{{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr />

<h2>*ngIf</h2>

<input type="text" required [(ngModel)]="name" />
<p *ngIf="1===1">Mi Contenido</p>
<p *ngIf="name === 'David'; else elseBlock">Soy {{name}}</p>
<p *ngIf="name === 'julian'">Soy {{name}}</p>
<p *ngIf="name === 'Carlos' && age === 18">Soy {{name}}</p>

<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>

<hr />


<h2>Ng Model</h2>

<p>Nombre: {{name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="name" />
<!-- <p *ngIf="nameInput.valid">Valid: {{nameInput.valid}}</p> -->
<p class="aviso" *ngIf="!nameInput.valid">Ingresa un dato</p>


<p>Age: {{age}}</p>
<input type="number" min="10" max="18" required #ageInput="ngModel" [(ngModel)]="age" />
<p>Valid: {{ageInput.valid}}</p>


<hr />

<h2>Eventos</h2>

<button [disabled]="btnDisable">Enviar</button>
<button (click)="toggleButton()">{{btnDisable?"Toggle On":"Toggle Off"}}</button>

<p>Edad: {{age}}</p>
<button (click)="Incrementar()">Age ++</button>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, a cum laudantium molestiae nihil animi dolor,
    voluptas voluptate sint rem autem esse itaque optio ad illo doloribus illum fugiat deserunt.</p>
</div>

<p>Nombre: {{name}}</p>
<input type="text" [value]="name" (keyup)="onChange($event)" />


<hr />



<h2>Propiedades</h2>

<input type="text" [value]="name" />

<button [disabled]="btnDisable">Enviar</button>

<progress max="100" [value]="age"></progress>


<hr />
<h2>Hola Mundo</h2>
<h2>{{'Hola Mundo | '.repeat(7)}}</h2>

<p>3 + 3 = {{3+3}}</p>

<h3>Hola, Soy {{name}} y tengo {{age}} anios</h3>

<img height="200px" src={{img}} alt="imagen">

<p>{{obj.lastName}}</p>
<p>{{obj.Job}}</p>
<p>{{obj.Hobbie }}</p>